.poster {
  width: 210mm;     
  height: 297mm;    
  margin: auto;     
  background-color:gold;
  border: 8px solid white;
  padding: 50mm;    
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  position: relative;
  overflow: hidden;
  
 
  border: 40px solid transparent;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-size: cover;
  

  border-image: url(4964E6C8-F4E4-4F40-B992-3D277157F596.png) 70 round;



}

#wishes{
    background: none;
    border: none;
    margin-top: -900px;
    
}
#wishes img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    image-resolution: 4px 2px 2px;
    
}
#malayalam{
    background: none;
    border:none;
    text-align: center;
    color: #120c0c;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -310px;
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    text-shadow: 2px 2px 5px gray;
    justify-content: center;
    
}
#last{
    background: none;
    border: none;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-top: -150px;
    font-size: xx-large;
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px gray;
    justify-content: center;
    
}
#vallamkali{
    background: none;
    border: none;
    text-align: center;
    
}
#vallamkali img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: -222px;
}
#athappoo img{
  width: 350px;
  opacity: 1 ; 
  display: block;
  margin: 20px auto 0 auto;
  height: auto;
  max-width: 500px;
  bottom: 200px;
  
  
}
#athoppo{
  text-align: center;
  margin-top: 100px; 
}

#thoranam img{
  width: 350px;
  opacity: 1 ; 
  display: block;
  margin: 20px auto 0 auto;
  height: auto;
  max-width: 500px;
  bottom: 100px;
  
  
}
#thoranam{
  text-align: center;
  margin-top: -170px; 
}
#thoranam-left img{
  width: 350px;
  opacity: 1 ; 
  display: block;
  margin-left: -130px;
  height: auto;
  max-width: 500px;
  bottom: 100px;
  
  
}
#thoranam-left{
  text-align: left;
  margin-top: -460px;
   
}
#thoranam-right img{
  width: 350px;
  opacity: 1;
  display: block;
  margin-left:auto ;
  height: auto;
  max-width: 500px;
  bottom: 100px;
  margin-right: -125px;
}
#thoranam-right{
  text-align: right;
  margin-top: -465px;
   
}
#flower-1{
  width: 50px;
  height: auto;
  position: absolute;
  display: block;
  opacity: 0.6;
  right: 120px;
  margin-right: 90px;
  bottom: -10px;
 
  
  
}
#flower-2{
  width: 10px;
  height: auto;
  position: absolute;
  display: block;
  opacity: 0.7;
  left: 20px;
  margin-left: -850px;
  bottom: -200px;
}